@media(max-width: 500px){
    .footer{
        margin: 10px 25px;
    }

    .links{
        margin: 0 20px;
        padding-top: 35px;
    }    
}

@media(max-width: 768px){
    .footer{
        margin: 10px 155px;
    }
    .links{
        margin: 0 25px;
        padding-top: 35px;
    }
}